<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
</head>
<body>
    <h1>Index Page</h1>
<h3>Info</h3>
    <form action='/result' method='post'>
    Your Name: <input type='text' name='Your_Name'>
    Dojo Location: <input type='text' name='Dojo_location'>
    Favorite language: <input type='text' name='Favorite_language'>
    <input type='submit' value='info'>
</form>

</body>
</html>