<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
</head>
<body>
    <h1>Index Page</h1>
<h3>Info</h3>
{% with messages = get_flashed_messages() %}     
    {% if messages %}                            
        {% for message in messages %}          
            <p>{{message}}</p>                   
        {% endfor %}
    {% endif %}
{% endwith %}

    <form action='/result' method='post'>
    Your Name: <input type='text' name='name'>
    Dojo Location: <input type='text' name='location'>
    Favorite language: <input type='text' name='language'>
    <input type='submit' value='info'>
</form>

</body>
</html>