<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>Show Page</h1>
<h3>Info Submitted:</h3>
<body>
{% for one_survey in all_survey%}
    <p>Your Name: {{ one_survey ['name'] }}</p>
    <p>Dojo Location: {{ one_survey ['location'] }}</p>
    <p>Favorite language: {{ one_survey ['language'] }}</p>
{%endfor%}

</body>
</html>